{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/outing.css') }}>
{% endblock %}
{% block body %}
<div class="outing-form-container">
    <h1>{{ outingForm.vars.value.id ? 'Modifier la sortie' : 'Créer une sortie' }}</h1>

    {{ form_start(outingForm) }}
    {{ form_widget(outingForm) }}
    <button class="btn">Enregistrer</button>
    {{ form_end(outingForm) }}
</div>
{% endblock %}
