{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/outing.css') }}>
{% endblock %}
{% block body %}
    <section class="logged">
        <div class="flex1">
            {% if isMobile %}
                <p><strong>Mes sorties</strong></p>
            {% endif %}
            {% if not isMobile %}
            <p><strong>Liste des sorties</strong></p>
            {% endif %}
        </div>
        {% if not isMobile %}
        <div class="flex2">
            <p>Date du jour : {{ "now"|date("d/m/Y H:i") }}</p>
            <p>Participant : {{ app.user.firstname }}  {{ app.user.lastname }}</p>
        </div>
        {% endif %}
    </section>


    {% if not isMobile %}
        <section class="filters">
            {{ form_start(filterForm) }}
            <div class="filter-left">
                {{ form_row(filterForm.site) }}
                {{ form_row(filterForm.search) }}
                {{ form_row(filterForm.dateStart) }}
                {{ form_row(filterForm.dateEnd) }}
            </div>
            <div class="filter-right">
                {{ form_row(filterForm.organizer) }}
                {{ form_row(filterForm.subscribed) }}
                {{ form_row(filterForm.notSubscribed) }}
                {{ form_row(filterForm.past) }}
                <button type="submit">Rechercher</button>
            </div>
            {{ form_end(filterForm) }}
        </section>
    {% else %}
        <p class="auto-filter-message">
            Les filtres sont désactivés sur mobile. Les sorties sont automatiquement filtrées en fonction de vos inscriptions.
        </p>
    {% endif %}

    <section class="outings-list">
        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                {% if isMobile %}
                    <th>Lieu</th>
                {% endif %}
                {% if not isMobile %}
                <th>Clôture</th>
                <th>Inscrits / places</th>
                <th>État</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for outing in outings %}
                <tr class="
                        {% if outing.etat.libelle == 'Ouverte' %}etat-ouvert{% elseif outing.etat.libelle == 'Clôturée' %}etat-cloture
                        {% elseif outing.etat.libelle == 'Activité en cours' %}etat-encours{% elseif outing.etat.libelle == 'Passée' %}etat-passe{% endif %}
                   ">
                    {% if isMobile %}
                        <td><a href="{{ path('app_outing_show', {'id': outing.id}) }}">{{ outing.name }}</a></td>
                    {% endif %}
                    {% if not isMobile %}
                        <td>{{ outing.name }}</td>
                    {% endif %}
                    <td>{{ outing.dateBegin|date('d/m/Y H:i') }}</td>
                    {% if isMobile %}
                        <td>{{ outing.place.city.name }}</td>
                    {% endif %}
                    {% if not isMobile %}
                    <td>{{ outing.dateSubscriptionLimit|date('d/m/Y') }}</td>
                    <td>{{ outing.participants|length }}/{{ outing.nbSubscriptionMax }}</td>
                    <td>{{ outing.etat.libelle }}</td>
                    <td>{% if outing.isSubscribed(user) %}X{% endif %}</td>
                    <td><a href="{{ path('app_user_profile', {'id': outing.organizer.id})}}">{{ outing.organizer.pseudo }}</a></td>
                    <td>
                        <a href="{{ path('app_outing_show', {'id': outing.id}) }}">Afficher</a>

                        {% if user %}
                            {% if not outing.isSubscribed(user) %}
                                <a href="{{ path('app_outing_subscribe', {'id': outing.id}) }}">S'inscrire</a>
                            {% else %}
                                <a href="{{ path('app_outing_unsubscribe', {'id': outing.id}) }}">Se désister</a>
                            {% endif %}

                            {% if app.user.pseudo == outing.organizer.pseudo or app.user.administrator %}
                                <a href="{{ path('app_outing_edit', {'id': outing.id}) }}">Modifier</a>
                                <a href="{{ path('app_outing_cancel', {'id': outing.id}) }}">Annuler</a>
                            {% endif %}
                        {% else %}
                            <span>Connectez-vous pour gérer votre inscription</span>
                        {% endif %}

                    </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr><td colspan="8">Aucune sortie trouvée.</td></tr>
            {% endfor %}
            </tbody>
        </table>
        {% if not isMobile %}
        <button class="create-outing"><a href="{{ path('app_outing_create') }}" class="create-outing btn btn-primary">
                Créer une sortie
            </a></button>
        {% endif %}
    </section>

{% endblock %}
