{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/outing.css') }}>
{% endblock %}
{% block body %}
    <section class="filters">
        {{ form_start(filterForm) }}
        <div class="filter-left">
            {{ form_row(filterForm.site) }}
            {{ form_row(filterForm.search) }}
            {{ form_row(filterForm.dateStart) }}
            {{ form_row(filterForm.dateEnd) }}
        </div>
        <div class="filter-right">
            {{ form_row(filterForm.organizer) }}
            {{ form_row(filterForm.subscribed) }}
            {{ form_row(filterForm.notSubscribed) }}
            {{ form_row(filterForm.past) }}
            <button type="submit">Rechercher</button>
        </div>
        {{ form_end(filterForm) }}
    </section>

    <section class="outings-list">
        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits / places</th>
                <th>État</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for outing in outings %}
                <tr>
                    <td>{{ outing.name }}</td>
                    <td>{{ outing.dateBegin|date('d/m/Y H:i') }}</td>
                    <td>{{ outing.dateSubscriptionLimit|date('d/m/Y') }}</td>
                    <td>{{ outing.participants|length }}/{{ outing.nbSubscriptionMax }}</td>
                    <td>{{ outing.etat.libelle }}</td>
                    <td>{% if outing.isSubscribed(user) %}X{% endif %}</td>
                    <td><a href="{{ path('app_user_profile', {'id': outing.organizer.id})}}">{{ outing.organizer.pseudo }}</a></td>
                    <td>
                        <a href="{{ path('app_outing_show', {'id': outing.id}) }}">Afficher</a>

                        {% if user %}
                            {% if not outing.isSubscribed(user) %}
                                <a href="{{ path('app_outing_subscribe', {'id': outing.id}) }}">S'inscrire</a>
                            {% else %}
                                <a href="{{ path('app_outing_unsubscribe', {'id': outing.id}) }}">Se désister</a>
                            {% endif %}

                            {% if app.user.pseudo == outing.organizer.pseudo or app.user.administrator %}
                                <a href="{{ path('app_outing_edit', {'id': outing.id}) }}">Modifier</a>
                                <a href="{{ path('app_outing_cancel', {'id': outing.id}) }}">Annuler</a>
                            {% endif %}
                        {% else %}
                            <span>Connectez-vous pour gérer votre inscription</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="8">Aucune sortie trouvée.</td></tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="create-outing"><a href="{{ path('app_outing_create') }}" class="create-outing btn btn-primary">
                Créer une sortie
            </a></button>
    </section>

{% endblock %}
