{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/locations.css') }}">
{% endblock %}
{% block title %}Formulaire{% endblock %}

{% block body %}
    <h1>{{ title|default('Formulaire') }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success mt-3">Valider</button>
    {{ form_end(form) }}
{% endblock %}
