{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/locations.css') }}">
{% endblock %}

{% block title %}Formulaire{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/address-autocomplete.js') }}" defer></script>
    <script src="{{ asset('js/city-form-toggle.js') }}" defer></script>
{% endblock %}

{% block body %}
    <h2>Formulaire {{ editMode is defined and editMode ? 'd\'Édition' : 'de Création' }}</h2>

    {% if returnUrl is defined %}
        <a href="{{ returnUrl }}" class="btn btn-secondary mb-3">Retour à la création</a>
    {% endif %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if type == 'place' %}
        {{ form_row(form.name) }}

        {{ form_row(form.street, {
            'attr': {
                'placeholder': 'Tapez une rue'
            }})
        }}
        {{ form_row(form.cityName) }}
        {{ form_row(form.cityId) }}
        {{ form_row(form.latitude) }}
        {{ form_row(form.longitude) }}
    {% elseif type == 'city' %}
        {{ form_row(form.name) }}
        {{ form_row(form.postalCode) }}
    {% elseif type == 'site' %}
        {{ form_row(form.name) }}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}

    <button type="submit" class="btn btn-success mt-3">
        {{ editMode is defined and editMode ? 'Mettre à jour' : 'Créer' }}
    </button>
    {{ form_end(form) }}
{% endblock %}

