<header>

    <img src="{{ asset('images/WebAppLogo.png') }}" alt="Logo" />
    <nav>
        <div class="header-container">
            <a href="{{ path('app_outing_list') }}">Sorties</a>
            {% if app.user %}
                <a href="{{ path('app_user_profile', {'id': app.user.id}) }}">Profil</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
        </div>
    </nav>
</header>
