{% extends 'base.html.twig' %}

{% block title %}Créer un Groupe{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/group.css') }}">
{% endblock %}
{% block body %}
    <h1>Créer un Groupe</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.members) }}

    <button class="btn btn-success">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('group_list') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
{% endblock %}
