{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="profile-container">

        <!-- Colonne gauche : photo -->


        <!-- Colonne droite : formulaire -->
        <div class="profile-form">
            <h2>Mon profil</h2>

            {{ form_start(userForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {{ form_errors(userForm) }} {# erreurs globales en haut du formulaire #}
            <table class="profile-table">
                <tr>
                    <td>{{ form_label(userForm.pseudo) }}</td>
                    <td>{{ form_widget(userForm.pseudo) }}{{ form_errors(userForm.pseudo) }}</td>

                </tr>
                <tr>
                    <td>{{ form_label(userForm.firstname) }}</td>
                    <td>{{ form_widget(userForm.firstname) }}{{ form_errors(userForm.firstname) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(userForm.lastname) }}</td>
                    <td>{{ form_widget(userForm.lastname) }}{{ form_errors(userForm.lastname) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(userForm.phone) }}</td>
                    <td>{{ form_widget(userForm.phone) }}{{ form_errors(userForm.phone) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(userForm.email) }}</td>
                    <td>{{ form_widget(userForm.email) }}{{ form_errors(userForm.email) }}</td>
                </tr>

                <tr>
                    <td>{{ form_label(userForm.site) }}</td>
                    <td>{{ form_widget(userForm.site) }}{{ form_errors(userForm.site) }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="profile-avatar">
                                <img id="preview-image"
                                     src="{{ asset(userProfile.picture) }}"
                                     alt="Photo de {{ userProfile.pseudo }}"
                                     style="max-width: 200px; max-height: 200px;" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(userForm.picture) }}</td>
                    <td>
                        <label for="{{ userForm.picture.vars.id }}" class="custom-file-label">
                            {{ userProfile.picture ? 'Importer une nouvelle photo' : 'Choisir une photo' }}
                        </label>
                        {{ form_widget(userForm.picture, {'attr': {'class': 'custom-file-input'}}) }}
                        {{ form_errors(userForm.picture) }}
                    </td>
                </tr>
                <tr>
                    <td >
                        <h4>Modification du mot de passe</h4>
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(userForm.password) }}</td>
                    <td>{{ form_widget(userForm.password) }}{{ form_errors(userForm.password) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(userForm.confirmation) }}</td>
                    <td>{{ form_widget(userForm.confirmation) }}{{ form_errors(userForm.confirmation) }}</td>
                </tr>
            </table>

            <div class="profile-buttons">
                <button type="submit">Enregistrer</button>
                <a href="{{ path('app_user_profile', {'id': app.user.id}) }}">
                    <button type="button">Annuler</button>
                </a>
            </div>

            {{ form_end(userForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/profile-picture-preview.js') }}"></script>
{% endblock %}
